<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.zen.easyui.dao.TModuleDao" >
 	
 	<resultMap type="com.zen.easyui.dto.TModuleDto" id="tModuleResultMap">
			<result property="moduleId" column="MODULE_ID" jdbcType="NUMERIC" />
			<result property="parentCode" column="PARENT_CODE" jdbcType="VARCHAR" />
			<result property="moduleName" column="MODULE_NAME" jdbcType="VARCHAR" />
			<result property="moduleCode" column="MODULE_CODE" jdbcType="VARCHAR" />
			<result property="moduleDesc" column="MODULE_DESC" jdbcType="VARCHAR" />
			<result property="moduleIcon" column="MODULE_ICON" jdbcType="VARCHAR" />
			<result property="moduleType" column="MODULE_TYPE" jdbcType="NUMERIC" />
			<result property="appType" column="APP_TYPE" jdbcType="NUMERIC" />
			<result property="actionUrl" column="ACTION_URL" jdbcType="VARCHAR" />
			<result property="sort" column="SORT" jdbcType="NUMERIC" />
			<result property="helpUrl" column="HELP_URL" jdbcType="VARCHAR" />
			<result property="autoCreate" column="AUTO_CREATE" jdbcType="NUMERIC" />
 	</resultMap>
 	
 	<insert id="insertTModuleDto" parameterType="com.zen.easyui.dto.TModuleDto">
     	INSERT INTO t_module (
     		MODULE_ID,PARENT_CODE,MODULE_NAME,MODULE_CODE,MODULE_DESC,MODULE_ICON,MODULE_TYPE,APP_TYPE,ACTION_URL,SORT,HELP_URL,AUTO_CREATE
     	) VALUES (#{moduleId, jdbcType=NUMERIC},#{parentCode, jdbcType=VARCHAR},#{moduleName, jdbcType=VARCHAR},#{moduleCode, jdbcType=VARCHAR},#{moduleDesc, jdbcType=VARCHAR},#{moduleIcon, jdbcType=VARCHAR},#{moduleType, jdbcType=NUMERIC},#{appType, jdbcType=NUMERIC},#{actionUrl, jdbcType=VARCHAR},#{sort, jdbcType=NUMERIC},#{helpUrl, jdbcType=VARCHAR},#{autoCreate, jdbcType=NUMERIC})
   </insert>
   
    <insert id="batchInsertTModuleDto" parameterType="java.util.List">
             INSERT INTO t_module (MODULE_ID,PARENT_CODE,MODULE_NAME,MODULE_CODE,MODULE_DESC,MODULE_ICON,MODULE_TYPE,APP_TYPE,ACTION_URL,SORT,HELP_URL,AUTO_CREATE) 
             <foreach collection="list" item="item" index="index" separator="union all">
				select #{item.moduleId, jdbcType=NUMERIC},#{item.parentCode, jdbcType=VARCHAR},#{item.moduleName, jdbcType=VARCHAR},#{item.moduleCode, jdbcType=VARCHAR},#{item.moduleDesc, jdbcType=VARCHAR},#{item.moduleIcon, jdbcType=VARCHAR},#{item.moduleType, jdbcType=NUMERIC},#{item.appType, jdbcType=NUMERIC},#{item.actionUrl, jdbcType=VARCHAR},#{item.sort, jdbcType=NUMERIC},#{item.helpUrl, jdbcType=VARCHAR},#{item.autoCreate, jdbcType=NUMERIC} from dual
			</foreach>
    </insert>   
   
   <sql id="tModule_Where_Clause"> 
   		<trim prefix=" WHERE  " prefixOverrides="AND">
   		    	        <if test="moduleId!=null and moduleId!='' ">
   		    	        	AND MODULE_ID=#{moduleId , jdbcType=NUMERIC} 
						</if>
   		    	        <if test="parentCode!=null and parentCode!='' ">
   		    	        	AND PARENT_CODE=#{parentCode , jdbcType=VARCHAR} 
						</if>
   		    	        <if test="moduleName!=null and moduleName!='' ">
   		    	        	AND MODULE_NAME=#{moduleName , jdbcType=VARCHAR} 
						</if>
   		    	        <if test="moduleCode!=null and moduleCode!='' ">
   		    	        	AND MODULE_CODE=#{moduleCode , jdbcType=VARCHAR} 
						</if>
   		    	        <if test="moduleDesc!=null and moduleDesc!='' ">
   		    	        	AND MODULE_DESC=#{moduleDesc , jdbcType=VARCHAR} 
						</if>
   		    	        <if test="moduleIcon!=null and moduleIcon!='' ">
   		    	        	AND MODULE_ICON=#{moduleIcon , jdbcType=VARCHAR} 
						</if>
   		    	        <if test="moduleType!=null and moduleType!='' ">
   		    	        	AND MODULE_TYPE=#{moduleType , jdbcType=NUMERIC} 
						</if>
   		    	        <if test="appType!=null and appType!='' ">
   		    	        	AND APP_TYPE=#{appType , jdbcType=NUMERIC} 
						</if>
   		    	        <if test="actionUrl!=null and actionUrl!='' ">
   		    	        	AND ACTION_URL=#{actionUrl , jdbcType=VARCHAR} 
						</if>
   		    	        <if test="sort!=null and sort!='' ">
   		    	        	AND SORT=#{sort , jdbcType=NUMERIC} 
						</if>
   		    	        <if test="helpUrl!=null and helpUrl!='' ">
   		    	        	AND HELP_URL=#{helpUrl , jdbcType=VARCHAR} 
						</if>
   		    	        <if test="autoCreate!=null and autoCreate!='' ">
   		    	        	AND AUTO_CREATE=#{autoCreate , jdbcType=NUMERIC} 
						</if>
   		 </trim>   
   </sql>
   
   <update id="updateTModuleByPk" parameterType="com.zen.easyui.dto.TModuleDto" >
   		UPDATE t_module 
   			SET
   			<trim suffix=" " suffixOverrides=","> 
   		    	        <if test="parentCode!=null and parentCode!='' ">
   		    	        	PARENT_CODE=#{parentCode , jdbcType=VARCHAR},
						</if>
   		    	        <if test="moduleName!=null and moduleName!='' ">
   		    	        	MODULE_NAME=#{moduleName , jdbcType=VARCHAR},
						</if>
   		    	        <if test="moduleCode!=null and moduleCode!='' ">
   		    	        	MODULE_CODE=#{moduleCode , jdbcType=VARCHAR},
						</if>
   		    	        <if test="moduleDesc!=null and moduleDesc!='' ">
   		    	        	MODULE_DESC=#{moduleDesc , jdbcType=VARCHAR},
						</if>
   		    	        <if test="moduleIcon!=null and moduleIcon!='' ">
   		    	        	MODULE_ICON=#{moduleIcon , jdbcType=VARCHAR},
						</if>
   		    	        <if test="moduleType!=null and moduleType!='' ">
   		    	        	MODULE_TYPE=#{moduleType , jdbcType=NUMERIC},
						</if>
   		    	        <if test="appType!=null and appType!='' ">
   		    	        	APP_TYPE=#{appType , jdbcType=NUMERIC},
						</if>
   		    	        <if test="actionUrl!=null and actionUrl!='' ">
   		    	        	ACTION_URL=#{actionUrl , jdbcType=VARCHAR},
						</if>
   		    	        <if test="sort!=null and sort!='' ">
   		    	        	SORT=#{sort , jdbcType=NUMERIC},
						</if>
   		    	        <if test="helpUrl!=null and helpUrl!='' ">
   		    	        	HELP_URL=#{helpUrl , jdbcType=VARCHAR},
						</if>
   		    	        <if test="autoCreate!=null and autoCreate!='' ">
   		    	        	AUTO_CREATE=#{autoCreate , jdbcType=NUMERIC},
						</if>
   		    </trim>
   		WHERE 
   		    MODULE_ID=#{moduleId, jdbcType=NUMERIC} 
   </update>
   
   <select id="selectTModuleByPk" parameterType="com.zen.easyui.dto.TModuleDto" resultMap="tModuleResultMap">
   		SELECT MODULE_ID,PARENT_CODE,MODULE_NAME,MODULE_CODE,MODULE_DESC,MODULE_ICON,MODULE_TYPE,APP_TYPE,ACTION_URL,SORT,HELP_URL,AUTO_CREATE FROM  t_module WHERE   MODULE_ID=#{moduleId, jdbcType=NUMERIC}
   </select>
   
   <select id="selectTModuleByDto" parameterType="com.zen.easyui.dto.TModuleDto" resultMap="tModuleResultMap">
   		SELECT MODULE_ID,PARENT_CODE,MODULE_NAME,MODULE_CODE,MODULE_DESC,MODULE_ICON,MODULE_TYPE,APP_TYPE,ACTION_URL,SORT,HELP_URL,AUTO_CREATE FROM  t_module 
   		<include refid="tModule_Where_Clause" />
   </select>
   
   <delete id="deleteTModuleByPk" parameterType="com.zen.easyui.dto.TModuleDto">
   		DELETE FROM t_module WHERE MODULE_ID=#{moduleId, jdbcType=NUMERIC}
   </delete>
 	
</mapper>
